parameters:
    excludePaths:
        analyse:
            - vendor
    ignoreErrors:
        - '#Parameter \#2 \$hydrationMode of method Doctrine\\ORM\\Query::iterate\(\) expects [0-9\|]+string\|null, 101 given#'
